#smart {
  .smart-wrap {
    width: 100%;
    margin: 120px auto;
    grid-column: 1 / 12;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 36px;
      font-weight: 700;
      color: $title-color;
      display: block;
      padding: 0 7% 0 1%;
      max-width: 440px;
      border-right: 1px solid #b9b9b7;
      line-height: 1.3;
    }

    span {
      line-height: 1.7;
      padding: 0 0 0 4%;
      max-width: 38%;
    }
  }

  .cards-box {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;

    li.card {
      width: 256px;
      margin-bottom: 64px;

      @mixin card(
        $index,
        $top,
        $left,
        $url,
        $pictogramBackgroundColor,
        $cardTitleColor
      ) {
        &:nth-child(#{$index}) {
          .pictogram {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 24px;
            background-color: $pictogramBackgroundColor;

            &::before {
              content: '';
              display: block;
              width: 54px;
              height: 54px;
              position: relative;
              top: $top;
              left: $left;

              background: {
                image: url($url);
                repeat: no-repeat;
                position: center;
                size: contain;
              }
            }
          }

          .text-wrap {
            width: 100%;
            line-height: 1.7;

            h3 {
              margin-bottom: 4px;
              color: $cardTitleColor;

              font: {
                size: 18px;
                weight: 600;
              }
            }
          }
        }
      }

      @include card(
        $index: 1,
        $top: 15px,
        $left: 17px,
        $url: '../img/pictogram-bill.png',
        $pictogramBackgroundColor: $red-background-color,
        $cardTitleColor: $red-title-color
      );

      @include card(
        $index: 2,
        $top: 15px,
        $left: 13px,
        $url: '../img/pictogram-network.png',
        $pictogramBackgroundColor: $blue-background-color,
        $cardTitleColor: $blue-title-color
      );

      @include card(
        $index: 3,
        $top: 15px,
        $left: 13px,
        $url: '../img/pictogram-badge.png',
        $pictogramBackgroundColor: $green-background-color,
        $cardTitleColor: $green-title-color
      );
    }
  }
}
