#contents .container {
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}
#contents h3 {
  margin: 30px 0;
  padding-top: 20px;
  font-size: 20px;
}
#contents a {
  text-decoration: none;
}
#contents li.item {
  padding: 10px 0;
}
#contents div.date {
  display: inline-block;
  margin-right: 30px;
}
#contents div.list-title {
  display: inline-block;
}
