header #logo {
  width: 100px;
  height: 100px;
  margin: 70px 0 30px;
  background-color: rgb(143, 143, 229);
  border-radius: 50%;
  text-indent: -9999px;
}
header h1 {
  font-size: 48px;
  font-weight: 800;
  font-family: "Open Sans";
  text-transform: uppercase;
}
header span {
  display: block;
  margin: 30px 0;
  color: #333;
  word-break: keep-all; /* 반응형 웹에서, 단어를 나누지 않음 */
}
header .container {
  overflow: hidden;
}
