header #logo {
  width: 100px;
  height: 100px;
  margin: 70px 0 30px;
  background-color: rgb(143, 143, 229);
  border-radius: 50%;
  text-indent: -9999px;
  display: inline-block;
}

header h1 {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
}

header span {
  display: block;
  margin: 30px 0;
  color: #333;
  word-break: keep-all;
  line-height: 1.8;
}

header .container {
  overflow: hidden;
}
