#page-wrap {
  width: 100%;
}

header {
  height: 300px;
  background-color: #bbdefb;
}

#about {
  height: 100px;
  background-color: #90caf9;
}

#projects {
  height: 500px;
  background-color: #64b5f6;
}

footer {
  height: 150px;
  background-color: #42a5f5;
}
