#page-wrap {
  width: 100%;
}

header {
  height: 300px;
  background-color: #bbdefb;
}

#contents {
  height: 500px;
  background-color: #90caf9;
}

footer {
  height: 150px;
  background-color: #64b5f6;
}
