@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* Common */

a {
  text-decoration: none;
}

/* Text Color */

.blue-text {
  color: #2196f3;
}

.gray-text {
  color: #757575;
}

/* Layout */

#page-wrap {
  width: 100%;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Pretandard-Regular', sans-serif;
}

header {
  width: 100%;
  box-sizing: border-box;
}

#contents {
  width: 100%;
  height: 500px;
}

footer {
  width: 100%;
  height: 150px;
}

/* Container */

.container {
  width: 65%;
  height: inherit;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Media Query */

@media (max-width: 1200px) {
  #page-wrap .container {
    width: 75%;
  }
}

@media (max-width: 992px) {
  #page-wrap .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  #page-wrap .container {
    width: 95%;
  }

  header .container {
    text-align: center;
  }

  #contents-wrap,
  #footer-wrap {
    width: 90%;
    margin: 0 auto;
    display: block !important;
  }
}

/* Header */

header #logo {
  width: 100px;
  height: 100px;
  margin: 70px 0 30px;
  border-radius: 50%;
  text-indent: -9999px;
  display: inline-block;
  background-image: url(../images/logo.jpg);
  background-size: cover;
  box-shadow: 1px 1px 10px #eee;
}

header h1 {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
}

header span {
  display: block;
  margin: 30px 0;
  color: #333;
  word-break: keep-all;
  line-height: 1.8;
}

header .container {
  overflow: hidden;
}

#contents .container {
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

#contents h3 {
  margin: 30px 0;
  padding-top: 20px;
  font-size: 20px;
}

#contents a {
  text-decoration: none;
}

#contents li.item {
  padding: 10px 0;
}

#contents div.date {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  text-align: center;
}

#contents div.list-title {
  display: inline-block;
}

/* Footer */

footer .container {
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  line-height: 2;
}

#footer-wrap {
  display: flex;
  justify-content: space-between;
}
