@import './utils';

header {
  width: 100%;
  margin: 70px 0 0;

  #logo {
    width: 100px;
    height: 100px;
    margin: 0 0 30px;
    border-radius: 50%;
    text-indent: -9999px;
    display: inline-block;
    text-align: center;
    background-image: url(../images/logo.jpg);
    background-size: cover;
    box-shadow: 1px 1px 10px #eee;
  }

  h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
  }

  p {
    display: block;
    margin: 30px 0;
    color: $description-color;
    word-break: keep-all;
    line-height: 1.8;
  }
}
