// Header Section
header {
  .container {
    margin: 40px auto;
    height: 48px;
  }

  .logo {
    grid-column: 1 / 3;
    align-self: center;

    a {
      display: flex;
      align-items: center;
    }

    span {
      font-size: 26px;
      font-weight: 800;

      &:nth-child(1) {
        color: $orange-color;
      }

      &:nth-child(2) {
        color: $title-color;
      }
    }
  }

  nav {
    grid-column: 3 / -3;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 16px;

    a {
      margin: 0 18px;
      color: $title-color;
      transition: 0.3s;

      &:hover {
        color: $blue-color;
        transition: 0.3s;
      }
    }
  }

  button {
    grid-column: 11 / 13;
    align-self: center;
    justify-self: end;
    width: 140px;
  }

  .fa-bars {
    display: none;
    color: $title-color;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    grid-column: -1 / -2;
  }
}
