// Color Scheme
$blue-color: #2400f8;
$orange-color: #fcaf61;
$title-color: #252f52;
$text-color: #626368;
$red-title-color: #f55766;
$blue-title-color: #2463fe;
$green-title-color: #409760;
$red-background-color: #ffecee;
$blue-background-color: #f4f4fe;
$green-background-color: #e4ffee;
$background-color: #ecf3fb;
