@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './utils.scss';

// Initialize
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background: none;
  list-style: none;
  color: $text-color;

  font: {
    family: 'Poppins', sans-serif;
    size: 14px;
    weight: 500;
  }
}

// 12 Column Grid System Container
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.btn {
  background-color: $blue-color;
  height: 44px;
  color: #ffffff;
  border-radius: 50px;
}

@import './_header.scss';
@import './masthead.scss';
@import './_companies.scss';
@import './_awesome.scss';
@import './_smart.scss';
@import './designed.scss';

@media (max-width: 1200px) {
  #awesome {
    article {
      grid-column: 7 / 13;
    }

    .phone2 {
      left: 60px;

      &::after {
        left: -48px;
      }
    }
  }

  #smart-wrap {
    grid-column: 1 / -1;
    width: 100%;
  }

  #designed .img {
    width: calc(598px * 0.8);
    height: calc(547px * 0.8);
    left: 64px;
  }
}

@media (max-width: 1080px) {
  #companies {
    margin-bottom: 120px;

    .company:nth-of-type(n) {
      grid-column: span 3;
    }
  }

  #awesome {
    .phone2 {
      display: none;

      &::after {
        display: none;
      }
    }

    article {
      grid-column: 1 / -1;
      padding: 0;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    .description {
      display: inline-block;
      max-width: 400px;
    }

    .feature-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
    }

    .card {
      display: block;
      width: auto;
    }

    .text {
      margin: 0 auto;
    }

    .pictogram {
      display: inline-block;
      margin-bottom: 24px;
    }
  }

  #smart-wrap {
    display: block;
    text-align: center;
    margin: 60px auto;
    width: 100%;

    h2 {
      border: {
        right: none;
        bottom: 1px solid #b9b9b7;
      }

      padding: 32px 0;
      margin: 0 auto;
    }

    span {
      display: block;
      max-width: 520px;
      padding: 32px 0;
      margin: 0 auto;
    }
  }

  #smart {
    .cards-box {
      text-align: center;
    }

    .pictogram {
      display: inline-block;
    }
  }

  #designed {
    .img {
      display: none;
    }

    article {
      grid-column: 1 / -1;
      padding: 0;
      justify-self: center;
      text-align: center;
    }

    h2,
    span,
    button {
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}

@media (max-width: 840px) {
  header {
    nav,
    button {
      display: none;
    }

    .fa-bars {
      display: block;
    }
  }

  #masthead {
    article {
      grid-column: 1 / -1;
      justify-self: center;
      text-align: center;
      padding: 64px 0 128px;

      .flag {
        display: inline-flex;
      }
    }

    .phone-img {
      display: none;
    }
  }

  #companies .company:nth-of-type(n) {
    grid-column: span 4;
  }

  #awesome .feature-box,
  #smart .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #companies .company {
    &:nth-of-type(2n - 1) {
      grid-column: 2 / 6;
    }

    &:nth-of-type(2n) {
      grid-column: -2 / -6;
    }
  }

  #awesome {
    .description {
      max-width: 340px;
    }

    .feature-box {
      display: block;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pictogram {
      margin: 0;
    }

    .text {
      box-sizing: border-box;
      margin: 0;
      text-align: start;
      padding-left: 24px;
    }
  }

  #smart-wrap {
    h2 {
      font-size: 32px;
      max-width: 360px;
    }

    span {
      max-width: 360px;
    }
  }

  #smart {
    .cards-box {
      display: block;
      margin: 0 auto;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .pictogram {
      align-items: center;
    }

    .text-wrap {
      width: 256px;
      text-align: start;
      padding: 0 0 0 24px;
      box-sizing: border-box;
    }
  }
}

/* Skip Nav 만들기, Nav 클릭 시 해당 위치로 이동하기 */
