@import '../../core/utils/_color.scss';

@mixin NavbarTabStyle {
  display: flex;
  align-items: center;
  padding: 12px 32px;
  cursor: pointer;

  .icon {
    display: inline-block;
    font-size: 1.2em;
    padding: 4px 16px 0 0;
  }

  span {
    font-size: 0.96em;
  }
}

.NavbarTab {
  @include NavbarTabStyle;
  color: $lightgray-text;

  span {
    font-weight: 400;
  }
}

.NavbarTabFocused {
  @include NavbarTabStyle;
  background-color: $lightgray-background;
  color: $black-text;

  span {
    font-weight: 600;
  }
}
