/* INFO */

/* url(https://bit.ly/3EX4xdS) */

.info {
  display: flex;
}

.jumbotron h1 {
  font-size: 46px;
  font-family: Montserrat;
}

.jumbotron h2 {
}

.side-box {
  width: 300px;
  border: 1px solid blue;
  margin-right: 100px;
}
