/* Common */

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

/* Layout */

#page-wrap {
  /* 콘텐츠 중앙 정렬을 위해 */
  width: 600px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}

/* To-do Wrap & Title */

#todo-wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
  /* background-color: rgb(232, 240, 255); */
}
#todo-wrap h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  padding: 10px;
  margin-top: 30px;
  color: #474747;
  letter-spacing: 0.3em;
}

/* Input Form */

#todo-form {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  text-align: center;
}
#todo-form input {
  width: 100%;
  height: 60px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
#todo-form input::placeholder {
  color: rgb(211, 211, 211);
  font-weight: 500;
}
#todo-form input:focus {
  outline: none;
  border-color: #51a7e8;
}

/* To-do List */

/*
  <ul>
    <li id="아이디">
      <span>항목 내용</span>
      <button>버튼 내용</button>
    </li>
  </ul>
*/

#todo-list {
  /* <ul></ul> */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: block;
  background-color: #fff;
}
#todo-list li {
  /* text-align: center; */
  width: 100%;
  /* height: 60px; */
  margin: 0 auto;

  padding: 20px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  /* border-radius: 5px; */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #5171ff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#todo-list li:last-child {
  border: none;
}
#todo-list span {
  width: 85%;
  display: inline-block;
}
#todo-list .fa-square-check {
  display: block;
  font-size: 16px;
  color: rgb(180, 180, 180);
}
#todo-list .fa-trash {
  display: block;
  font-size: 16px;
  color: rgb(180, 180, 180);
}

/* Footer */

footer {
  /* https://bit.ly/3qeIL11 참고 : 하단 고정 */
  line-height: 1.5;
  text-align: center;
  background-color: #808080;
  width: 100%;
  height: 150px;
  /* position: relative; */
  transform: translateY(-100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #eee;
  margin-top: 30px;
}

/* Media Query */

@media (max-width: 992px) {
  /* codes here */
}
@media (max-width: 768px) {
  #page-wrap {
    width: 85%;
  }
  #todo-form input,
  #todo-list li {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #page-wrap {
    width: 90%;
  }
}
