/* Common */

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
}

/* Layout */

#page-wrap {
  /* 콘텐츠 중앙 정렬을 위해 */
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

/* To-do Wrap & Title */

#todo-wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
  background-color: rgb(232, 240, 255);
}
#todo-wrap h1 {
  text-align: center;
  font-size: 36px;
  padding: 10px;
}

/* Input Form */

#todo-form {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  text-align: center;
}
#todo-form input {
  width: 600px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 28px;
}
#todo-form input::placeholder {
  color: rgb(211, 211, 211);
}
#todo-form input:focus {
  outline: none;
  border-color: #51a7e8;
}

/* To-do List */

/*
  <ul>
    <li id="아이디">
      <span>항목 내용</span>
      <button>버튼 내용</button>
    </li>
  </ul>
*/

#todo-list {
  width: 100%;
  box-sizing: border-box;
}
#todo-list li {
  /* text-align: center; */
  width: 600px;
  margin: 0 auto;

  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 28px;
  background-color: #fff;

  /* display: flex; */
}
#todo-list span {
  display: inline-block;
}
#todo-list .fa-trash {
  font-size: 16px;
  padding: 5px;
  float: right;
  color: rgb(180, 180, 180);
}

/* Footer */

footer {
  /* https://bit.ly/3qeIL11 참고 : 하단 고정 */
  line-height: 1.5;
  text-align: center;
  background-color: rgb(191, 214, 255);
  width: 100%;
  height: 150px;
  /* position: relative; */
  transform: translateY(-100%);
}

/* Media Query */

@media (max-width: 992px) {
  #page-wrap {
    width: 90%;
  }
}
@media (max-width: 768px) {
  #page-wrap {
    width: 100%;
  }
  #todo-form input,
  #todo-list li {
    width: 95%;
  }
}
@media (max-width: 576px) {
  #todo-form input,
  #todo-list li {
    width: 100%;
  }
}
