/* TILES (GRID) */

.section--feature .tiles-background {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.section--feature .tiles-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.section--feature ul {
  display: grid; /* ul은 그리드 컨테이너 */
  grid-template-columns: repeat(4, 1fr);
}

.section--feature li {
  text-align: center; /* 제목과 설명 -> 가운데 정렬 */
  line-height: 1.5; /* 제목과 설명 -> 가운데 정렬 */
  border-right: 1px solid #e5e5e5;
}

.section--feature li:last-child {
  border-right: none; /* li의 마지막 항목만 오른쪽 경계 X */
}

.section--feature img {
  max-width: 100%; /* li 크기 전체 = ul의 1/4 */
  padding: 14px 10% 24px; /* 상 중 하 */
  box-sizing: border-box; /* 좌우 10% 패딩으로 인해 img 넘치는 것을 방지 */
  margin-top: 10px; /* CUSTOM */
  /* border: 1px solid blue; */
}

.section--feature h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section--feature p {
  font-size: 14px;
  color: #767676;
  margin: 0 10px 32px; /* CUSTOM */
  /* border: 1px solid blue; */
}
