$white-background: #ffffff;
$white-text: #ffffff;

$lightgray-background: #fafafa;
$lightgray-border: #c7cad1;
$lightgray-text: #8f8989;

// $border-color: #eff0f1;
// $blue-color: #0969da;
// $info-color: #b5b5b5;
// $description-color: #787878;
// $black-color: #292929;
