$white-background: #ffffff;
$white-text: #ffffff;

$lightgray-background: #fafafa;
$lightgray-border: #c7cad1;
$lightgray-text: #8f8989;

$black-text: #333333;

$blue-background: #4b2bf3;
$blue-border: #5956f6;

// $border-color: #eff0f1;
// $blue-color: #0969da;
// $info-color: #b5b5b5;
// $description-color: #787878;
