@charset "utf-8";

/* Skip Nav */
#skip {
  position: relative; /* 기준점 */
}
#skip a {
  position: absolute; /* 왼쪽 상단에 스킵 네비게이션 고정 */
  left: 0;
  top: -35px; /* 평소에는 숨김 */
  border: 1px solid #fff;
  color: #fff;
  background-color: #333;
  line-height: 30px;
  width: 170px;
  text-align: center;
}
#skip a:active,
#skip a:focus {
  top: 0;
}

/* Layout */
#wrap {
  width: 100%;
}
#header {
  width: 100%;
  height: 325px;
  background-color: #111;
}
#contents {
  width: 100%;
  height: 800px;
  background-color: #222;
}
#footer {
  width: 100%;
  height: 200px;
  background-color: #333;
}

/* Contents Layout */
#cont_nav {
  width: 100%;
  height: 200px;
  background-color: #333;
}
#cont_tit {
  width: 100%;
  height: 200px;
  background-color: #444;
}
#cont_ban {
  width: 100%;
  height: 200px;
  background-color: #555;
}
#cont_cont {
  width: 100%;
  height: 200px;
  background-color: #666;
}

/* Container */
.container {
  width: 990px;
  margin: 0 auto;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
