@charset "utf-8";

/* Header */
.header .header-menu {
  text-align: right;
}
.header .header-menu a {
  color: #fff;
  padding: 10px 0 10px 13px;
  display: inline-block; /* 위 아래 패딩 적용됨 */
}
.header .header-menu a:hover {
  color: #666;
}
.header .header-tit {
  text-align: center;
}
.header .header-tit h1 {
  background-color: #4aa8d4;
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 20px 6px;
  margin-top: 40px;
  display: inline-block;
  color: #fff;
}
.header .header-tit a {
  display: inline-block;
  background-color: #2698cb;
  font-size: 18px;
  color: #fff;
  padding: 5px 20px 6px;
}
.header .header-icon {
  text-align: center;
}
.header .header-icon a {
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url(../img/icon.png);
  margin: 0 3px;
}
/* 포지션 변경을 통해 아이콘 변경 */
/* 이미지 스프라이트 */
.header .header-icon a.icon1 {
  background-position: 0 0;
}
.header .header-icon a.icon2 {
  background-position: 0 -60px;
}
.header .header-icon a.icon3 {
  background-position: 0 -120px;
}
.header .header-icon a.icon4 {
  background-position: 0 -180px;
}
