@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--title-color);
  border: none;
  background: none;
  list-style: none;
}

:root {
  --blue-color: #2400f8;
  --orange-color: #fcaf61;
  --title-color: #252f52;
  --text-color: #626368;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.btn {
  background-color: var(--blue-color);
  height: 44px;
  color: #ffffff;
  border-radius: 50px;
}

header .container {
  margin: 40px auto;
  height: 48px;
}

header .logo {
  grid-column: 1 / 3;
  align-self: center;
}

header .logo a {
  display: flex;
  align-items: center;
}

header .logo span {
  font-size: 26px;
  font-weight: 800;
}

header .logo span:nth-child(1) {
  color: var(--orange-color);
}

header .logo span:nth-child(2) {
  color: var(--title-color);
}

header nav {
  grid-column: 3 / -3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 16px;
}

header nav a {
  margin: 0 18px;
  color: var(--title-color);
  transition: 0.3s;
}

header nav a:hover {
  color: var(--blue-color);
  transition: 0.3s;
}

header button {
  grid-column: 11 / 13;
  align-self: center;
  justify-self: end;
  width: 140px;
}

header .fa-bars {
  display: none;
  color: var(--title-color);
  font-size: 24px;
  align-self: center;
  justify-self: center;
  grid-column: -1 / -2;
}

#masthead {
  background-image: url(./img/city-background.png);
  background-repeat: repeat-x;
  background-position: bottom;
  position: relative;
}

#masthead::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./img/accessory.png);
  background-repeat: no-repeat;
  background-position: bottom;
  left: -376px;
  bottom: 60px;
  z-index: -1;
}

#masthead article {
  grid-column: 1 / 8;
  padding-left: 64px;
  align-self: center;
  max-width: 440px;
}

#masthead .flag {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

#masthead .flag .icon {
  width: 16px;
  display: inline-block;
  background-color: var(--orange-color);
  padding: 6px 10px;
  border-radius: 20px;
}

#masthead .flag span {
  background-color: #e2eaed;
  height: 28px;
  position: relative;
  left: -16px;
  padding-left: 24px;
  padding-right: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: -1;
  display: flex;
  align-items: center;
}

#masthead article h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--title-color);
  line-height: 1.3;
  margin-bottom: 16px;
}

#masthead .description {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: 32px;
  line-height: 1.7;
}

#masthead button {
  width: 140px;
  margin-right: 16px;
}

#masthead a {
  color: var(--blue-color);
}

#masthead img {
  grid-column: -1 / -6;
  width: 360px;
}

#companies {
  margin: 80px 0 160px;
}

#companies span {
  grid-column: 1 / -1;
  justify-self: center;
  margin-bottom: 40px;
}

#companies .company {
  width: 120px;
  height: 120px;
  justify-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#companies .company:nth-of-type(1) {
  grid-column: 2 / span 2;
  background-image: url(./img/company1.png);
}

#companies .company:nth-of-type(2) {
  grid-column: span 2;
  /* grid-column: 4 / 6; */
  background-image: url(./img/company2.png);
}

#companies .company:nth-of-type(3) {
  grid-column: span 2;
  /* grid-column: 6 / 8; */
  background-image: url(./img/company3.png);
}

#companies .company:nth-of-type(4) {
  grid-column: span 2;
  /* grid-column: 8 / 10; */
  background-image: url(./img/company4.png);
}

#companies .company:nth-of-type(5) {
  grid-column: span 2;
  /* grid-column: 10 / 12; */
  background-image: url(./img/company5.png);
}

@media (max-width: 1080px) {
  #companies .company:nth-of-type(n) {
    grid-column: span 3;
  }
}

@media (max-width: 840px) {
  header nav,
  header button {
    display: none;
  }

  header .fa-bars {
    display: block;
  }

  #masthead article {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    padding: 64px 0 128px;
  }

  #masthead article .flag {
    display: inline-flex;
  }

  #masthead .phone-img {
    display: none;
  }

  #companies .company:nth-of-type(n) {
    grid-column: span 4;
  }
}

@media (max-width: 600px) {
  #companies .company:nth-of-type(2n - 1) {
    grid-column: 2 / 6;
  }
  #companies .company:nth-of-type(2n) {
    grid-column: -2 / -6;
  }
}

/* Skip Nav 만들기, Nav 클릭 시 해당 위치로 이동하기 */
