@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--text-color);
  border: none;
  background: none;
  list-style: none;
}

:root {
  --blue-color: #2400f8;
  --orange-color: #fcaf61;
  --title-color: #252f52;
  --text-color: #626368;
  --red-title-color: #f55766;
  --blue-title-color: #2463fe;
  --green-title-color: #409760;
  --red-background-color: #ffecee;
  --blue-background-color: #f4f4fe;
  --green-background-color: #e4ffee;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.btn {
  background-color: var(--blue-color);
  height: 44px;
  color: #ffffff;
  border-radius: 50px;
}

header .container {
  margin: 40px auto;
  height: 48px;
}

header .logo {
  grid-column: 1 / 3;
  align-self: center;
}

header .logo a {
  display: flex;
  align-items: center;
}

header .logo span {
  font-size: 26px;
  font-weight: 800;
}

header .logo span:nth-child(1) {
  color: var(--orange-color);
}

header .logo span:nth-child(2) {
  color: var(--title-color);
}

header nav {
  grid-column: 3 / -3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 16px;
}

header nav a {
  margin: 0 18px;
  color: var(--title-color);
  transition: 0.3s;
}

header nav a:hover {
  color: var(--blue-color);
  transition: 0.3s;
}

header button {
  grid-column: 11 / 13;
  align-self: center;
  justify-self: end;
  width: 140px;
}

header .fa-bars {
  display: none;
  color: var(--title-color);
  font-size: 24px;
  align-self: center;
  justify-self: center;
  grid-column: -1 / -2;
}

#masthead {
  background-image: url(./img/city-background.png);
  background-repeat: repeat-x;
  background-position: bottom;
  position: relative;
}

#masthead::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./img/accessory.png);
  background-repeat: no-repeat;
  background-position: bottom;
  left: -376px;
  bottom: 60px;
  z-index: -1;
}

#masthead article {
  grid-column: 1 / 8;
  padding-left: 64px;
  align-self: center;
  max-width: 440px;
}

#masthead .flag {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

#masthead .flag .icon {
  width: 16px;
  display: inline-block;
  background-color: var(--orange-color);
  padding: 6px 10px;
  border-radius: 20px;
}

#masthead .flag span {
  background-color: #e2eaed;
  height: 28px;
  position: relative;
  left: -16px;
  padding-left: 24px;
  padding-right: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: -1;
  display: flex;
  align-items: center;
}

#masthead article h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--title-color);
  line-height: 1.3;
  margin-bottom: 16px;
}

#masthead .description {
  display: inline-block;
  /* color: var(--text-color); */
  margin-bottom: 32px;
  line-height: 1.7;
}

#masthead button {
  width: 140px;
  margin-right: 16px;
}

#masthead a {
  color: var(--blue-color);
}

#masthead img {
  grid-column: -1 / -6;
  width: 360px;
}

#companies {
  margin: 80px 0 200px;
}

#companies span {
  grid-column: 1 / -1;
  justify-self: center;
  margin-bottom: 40px;
  color: var(--title-color);
}

#companies .company {
  width: 120px;
  height: 120px;
  justify-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#companies .company:nth-of-type(1) {
  grid-column: 2 / span 2;
  background-image: url(./img/company1.png);
}

#companies .company:nth-of-type(2) {
  grid-column: span 2;
  /* grid-column: 4 / 6; */
  background-image: url(./img/company2.png);
}

#companies .company:nth-of-type(3) {
  grid-column: span 2;
  /* grid-column: 6 / 8; */
  background-image: url(./img/company3.png);
}

#companies .company:nth-of-type(4) {
  grid-column: span 2;
  /* grid-column: 8 / 10; */
  background-image: url(./img/company4.png);
}

#companies .company:nth-of-type(5) {
  grid-column: span 2;
  /* grid-column: 10 / 12; */
  background-image: url(./img/company5.png);
}

#awesome .container {
  position: relative;
}

#awesome .phone2 {
  width: calc(576px * 0.9);
  height: calc(839px * 0.9);
  position: absolute;
  left: -32px;
  bottom: 4px;
  background-image: url(./img/phone2.png);
  background-size: contain;
}

#awesome .phone2::after {
  content: '';
  width: calc(665px * 0.9);
  height: calc(723px * 0.9);
  position: absolute;
  left: -40px;
  top: 136px;
  background-image: url(./img/phone2-background.png);
  background-size: contain;
  z-index: -1;
}

#awesome article {
  grid-column: -2 / -8;
  width: 80%;
  padding-left: 72px;
  line-height: 1.7;
}

#awesome article h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--title-color);
  line-height: 1.3;
  margin-bottom: 16px;
}

#awesome .feature-box {
  margin-top: 64px;
}

#awesome .card {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

#awesome .pictogram {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#awesome .text {
  width: 256px;
}

#awesome h3 {
  font-size: 19px;
  font-weight: 600;
}

#awesome .feature-box li:nth-child(1) .pictogram {
  background-color: var(--red-background-color);
}

#awesome .feature-box li:nth-child(1) .pictogram::before {
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  position: relative;
  top: 13px;
  left: 13px;
  background-image: url(./img/pictogram-fast.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#awesome .feature-box li:nth-child(1) h3 {
  color: var(--red-title-color);
}

#awesome .feature-box li:nth-child(2) .pictogram {
  background-color: var(--blue-background-color);
}

#awesome .feature-box li:nth-child(2) .pictogram::before {
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  position: relative;
  top: 13px;
  left: 13px;
  background-image: url(./img/pictogram-prototyping.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#awesome .feature-box li:nth-child(2) h3 {
  color: var(--blue-title-color);
}

#awesome .feature-box li:nth-child(3) .pictogram {
  background-color: var(--green-background-color);
}

#awesome .feature-box li:nth-child(3) .pictogram::before {
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  position: relative;
  top: 16px;
  left: 13px;
  background-image: url(./img/pictogram-vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#awesome .feature-box li:nth-child(3) h3 {
  color: var(--green-title-color);
}

@media (max-width: 1200px) {
  #awesome article {
    grid-column: 7 / 13;
  }

  #awesome .phone2 {
    left: 60px;
  }

  #awesome .phone2::after {
    left: -48px;
  }
}

@media (max-width: 1080px) {
  #companies {
    margin-bottom: 120px;
  }

  #companies .company:nth-of-type(n) {
    grid-column: span 3;
  }

  #awesome .phone2,
  #awesome .phone2::after {
    display: none;
  }

  #awesome article {
    grid-column: 1 / -1;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  #awesome .description {
    display: inline-block;
    width: 400px;
  }

  #awesome .feature-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  #awesome .card {
    display: block;
    width: auto;
  }

  #awesome .text {
    margin: 0 auto;
  }

  #awesome .pictogram {
    display: inline-block;
  }
}

@media (max-width: 840px) {
  header nav,
  header button {
    display: none;
  }

  header .fa-bars {
    display: block;
  }

  #masthead article {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    padding: 64px 0 128px;
  }

  #masthead article .flag {
    display: inline-flex;
  }

  #masthead .phone-img {
    display: none;
  }

  #companies .company:nth-of-type(n) {
    grid-column: span 4;
  }

  #awesome .feature-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #companies .company:nth-of-type(2n - 1) {
    grid-column: 2 / 6;
  }

  #companies .company:nth-of-type(2n) {
    grid-column: -2 / -6;
  }

  #awesome .feature-box {
    display: block;
  }

  #awesome .card {
    display: flex;
    justify-content: center;
  }

  #awesome .text {
    box-sizing: border-box;
    margin: 0;
    text-align: start;
    padding-left: 24px;
  }
}

/* Skip Nav 만들기, Nav 클릭 시 해당 위치로 이동하기 */
