@import '../../core/utils/color';
@import '../../core/utils/mixin';

@mixin NavbarStyle {
  min-width: 260px;
  min-height: 100vh;
  background-color: $white-background;
  border-right: 2px solid $lightgray-background-secondary;
  position: relative;

  @include laptop {
    width: 100%;
    min-height: 0;
    height: auto;
    position: absolute;
    top: 54px;
    z-index: 1;
    box-sizing: border-box;
    border-right: none;
    border-bottom: 2px solid $lightgray-background-secondary;
  }
}

.NavbarOpened {
  @include NavbarStyle;
}

.NavbarClosed {
  @include NavbarStyle;

  @include laptop {
    display: none;
  }
}
