.Movie {
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px #aaa;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  img {
    width: 200px;
    height: 300px;
  }

  .TextBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    // background-color: lightgray;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(1.4px);

    h3 {
      margin: 0;
      padding: 8px 16px;
      font-size: 1.06em;

      a {
        text-decoration: none;
        color: #eee;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: inline-flex;
      align-items: center;
      // justify-content: space-around;

      li {
        display: inline-block;
        list-style: none;
        padding: 0 10px;
        color: yellow;
      }
    }
  }
}
