@import '../../core/utils/_color.scss';
@import '../../core/utils/_mixin.scss';

.Navbar {
  min-width: 260px;
  height: 100vh;
  background-color: $white-background;
  border-right: 2px solid $lightgray-background-secondary;
  position: relative;

  @include laptop {
    // display: none;
    padding: 54px 0 0;
    height: auto;
  }
}
