/* Jumbotron */

.jumbotron {
  /* border: 4px solid lightgray; */
  background: url(../img/church.jpeg);
  background-size: cover;
  position: relative;
  background-position: center;
}

.jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.jumbotron .inner {
  /* border: 1px solid blue; */
  max-width: 980px;
  margin: 0 auto;
  height: 540px;
  display: flex;
  align-items: center;
}

.jumbotron .text-wrap {
  /* border: 1px solid purple; */
  line-height: 1.5;
  max-width: 480px;
  z-index: 1; /* 요소를 앞으로 */
}

.jumbotron .text-wrap .title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.jumbotron .text-wrap .description {
  font-size: 14px;
  color: #ccc;
}
