/* HEADER */

header {
  /* border: 1px solid lightgray; */
  display: flex;
  height: 176px;
  margin: 0 auto;
  align-items: center; /* flex 박스 내부 아이템 세로 정렬: 가운데 */
}

header .logo {
  /* border: 1px solid blue; */
  min-width: 172px;
  height: 75px;
  background: url(https://bit.ly/3FWOOgz);
  margin-right: 20px;
  text-indent: -9999px; /* 들여쓰기 음수, 텍스트를 왼쪽으로 */
}

header .menu-wrap {
  /* border: 1px solid red; */
  display: flex;
  position: relative;
  margin-left: auto; /* 우측 정렬 */
}

header li::after {
  content: '';
  height: 43px;
  width: 2px;
  background-color: #e6e6e6;
  position: absolute;
  top: -14px;
  transform: rotate(29deg);
}

header li:last-child::after {
  background: none; /* 마지막 항목은 구분선 없음 */
}

header a {
  font-size: 14px;
  font-weight: 700;
  color: #313131;
  margin-right: 45px;
  padding-left: 50px;
  letter-spacing: 0.15em; /* em: 해당 폰트 대문자 M 기준 */
  line-height: 16.8px;
  text-decoration: none;
}

header a:hover {
  color: #983a42;
}
