@import 'utils';

section.contents {
  width: 100%;
  font-size: 14px;

  .container {
    padding: 40px 0;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    color: $black-color;
    margin-bottom: 32px;
  }

  li.item {
    margin: 8px 0;
    padding: 16px;
    border: 2px solid $border-color;
    border-radius: 10px;
    background-color: $white-color;

    p {
      &.list-title {
        color: $black-color;
        font-weight: 500;
        padding: 4px 0;
      }

      &.description {
        color: $description-color;
        font-weight: 500;
        padding: 4px 0;
      }

      &.date {
        color: $info-color;
        font-size: 13px;
      }
    }
  }
}
