@import 'utils';

footer {
  .container {
    box-sizing: border-box;
    // border-top: 1px solid #ddd;
    padding: 20px 0;
    line-height: 2;
  }

  #footer-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .email {
      a {
        color: $blue-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
