@import 'utils';

body {
  background-color: $background-color;

  font: {
    family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    size: 16px;
  }
}

a {
  text-decoration: none;
}

@import 'layout', 'header', 'contents', 'footer';

/* Container */

.container {
  max-width: 680px;
  margin: 0 auto;
}

/* Media Query */

@media (max-width: 1200px) {
  #page-wrap .container {
    width: 75%;
  }
}

@media (max-width: 992px) {
  #page-wrap .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  #page-wrap .container {
    width: 95%;
  }

  header .container {
    text-align: center;
  }

  #contents-wrap,
  #footer-wrap {
    width: 90%;
    margin: 0 auto;
    display: block !important;
  }
}
