/* Layout : header, contents, footer */
/* 제일 큰 레이아웃부터 구성 : 세로 높이만 지정하면 됨 */
#wrap {
  width: 100%; /* 전체 wrap 박스 너비는 화면 전체 100% */
}
#header {
  width: 100%;
  height: 325px;
  background: url(../img/header_bg.jpg) center top repeat-x; /* 가운데, 위로 고정, 가로 방향으로만 반복 */
}
#contents {
  width: 100%;
  height: 800px;
  background-color: #222;
}
#footer {
  width: 100%;
  height: 200px;
  background-color: #333;
}

/* Container */
/* 컨텐츠가 들어갈 가운데 컨테이너 부분을 설정 */
.container {
  width: 990px; /* 내용이 들어갈 컨테이너의 너비*/
  margin: 0 auto; /* 컨테이너 가운데 정렬 */
  height: inherit; /* 높이는 부모의 속성을 따름 : header 등 각 섹션의 높이를 따름 */
  background-color: rgba(255, 255, 255, 0.3); /* 반투명 흰색으로 영역 표시 */
}

/* Contents Layout */
#cont_nav {
  width: 100%;
  height: 200px;
  background-color: #333;
}
#cont_tit {
  width: 100%;
  height: 200px;
  background-color: #444;
}
#cont_ban {
  width: 100%;
  height: 200px;
  background-color: #555;
}
#cont_cont {
  width: 100%;
  height: 200px;
  background-color: #666;
}
