@import '../../core/utils/_color.scss';

.Sidebar {
  min-width: 260px;
  height: 100vh;
  background-color: $white-background;
  border-right: 2px solid $lightgray-background-secondary;
  position: relative;
}
