/**********************************************************
	COMMON
***********************************************************/
/* 레이아웃 */
/* .section:first-child {
	padding-top: 0px;
} */

.section {
  padding: 30px 15px;
  overflow: hidden;
  background: #fff;
}

.subborder {
  border-bottom: 1px solid #ebedef;
  margin-bottom: 6px;
  padding: 18px 15px;
}

.subbordert {
  border-top: 1px solid #ebedef;
}

.section {
  &.bg_gray {
    background-color: #f9f9f9;
  }

  .swiper {
    overflow: visible;
  }

  .title {
    position: relative;
    margin-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;

    small {
      font-size: 16px;
    }
  }

  .more {
    float: right;
    color: #a0a0a0;
    font-size: 12px;
    line-height: 29px;
    font-weight: 400;
  }

  .title .filter {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 23px;
    color: #444;
    font-size: 14px;
    line-height: 29px;
    font-weight: 500;
    background: url('/icons/ico_filter.svg') no-repeat right center;
  }
}
