/**********************************************************
	OFFERING(헌금)
***********************************************************/

.offering_wrap {
  .section {
    padding: 5px 15px 40px 15px;
  }

  .tab_area {
    width: 100%;
    border-bottom: 1px solid #eee;
    text-align: center;

    li {
      display: inline-block;
      line-height: 48px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding: 0px 25px;

      &.on {
        color: #000;
        font-weight: 500;
      }
    }
  }

  .namehowto {
    padding: 11px 15px;
    position: relative;
  }

  .arrowdown {
    position: absolute;
    right: 15px;
    top: 0px;
  }

  .sender_example {
    text-align: center;
    margin: 10px 0px;

    p {
      font-size: 12px;
      color: #a0a0a0;
      text-align: left;
      word-break: keep-all;
      padding: 12px 20px;
      font-weight: 400;
    }
  }

  .bank_list li {
    border-bottom: 1px solid #ebedef;
    padding: 16px 0px;

    > div {
      position: relative;
    }

    .bank {
      color: #4ab853;
      font-weight: 600;
      font-size: 12px;
    }

    .account {
      font-weight: 400;
      font-size: 16px;
    }

    .name {
      color: #a0a0a0;
      font-size: 12px;
      font-weight: 400;
    }

    .btn_copy {
      display: inline-block;
      position: absolute;
      width: 83px;
      height: 34px;
      background: url(/icons/ico_copy.svg) no-repeat center center;
      right: 0px;
      top: 25%;
    }
  }

  .bank_guide {
    margin: 30px 0 20px 0;
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    background-color: #f3f3f3;
  }

  .offering_guide li {
    color: #444;
    font-size: 14px;
    line-height: 22px;
  }

  .overseas_wrap .bank_list .info {
    display: block;
    margin: 0;
    line-height: 22px;
  }
}

/* 국내 */

/* 해외 */
