/**********************************************************
	SEARCH
***********************************************************/

.search_wrap .search_area {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;

  .top {
    padding: 15px 15px 9px 15px;
    border-bottom: 1px solid #ebebeb;
  }

  .btn_prev {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background: url('/icons/ico_back.svg') no-repeat center center;
    vertical-align: middle;
  }

  .btn_delete2 {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 24px;
    z-index: 10;
    width: 17px;
    height: 17px;
    background: url('/icons/ico_delete.svg') no-repeat center center;
    vertical-align: middle;
  }

  input {
    width: calc(100% - 67px);
    padding: 0 18px;
    line-height: 35px;
    color: #8d8d8d;
    font-size: 14px;
    background-color: #ebebeb;
    border: 0;
    border-radius: 8px;
  }

  .recent {
    padding: 25px 15px 15px 15px;

    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      font-size: 14px;

      .btn_delete {
        color: #444;
      }
    }

    .list li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 36px;

      .btn_delete {
        display: inline-block;
        width: 12px;
        height: 12px;
        color: #ebebeb;
        background: url('/icons/ico_close.svg') no-repeat center center;
        opacity: 0.5;
      }
    }
  }
}
