/**********************************************************
	SUB COMMON
***********************************************************/

.top_area {
  position: relative;
  z-index: 100;
  display: block;
  background-color: #fff;

  .btn_prev {
    display: inline-block;
    position: absolute;
    left: 22px;
    top: 14px;
    width: 14px;
    height: 14px;
    background: url('/icons/ico_back.svg') no-repeat center center;
  }

  .top_title {
    padding: 0 15px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 40px;
    line-height: 40px;

    img {
      display: inline;
    }
  }

  .tab_wrap {
    position: relative;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
  }

  .dropdown {
    background: #f8f8f8;
    position: relative;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;

    li {
      display: inline-block;
      color: #a0a0a0;
      font-weight: 400;
      padding: 0px 8px;
      font-size: 14px;

      &.on {
        color: #fff;
        font-weight: 400;
        border-radius: 50px;
        background: #313131;
        display: inline;
        padding: 4px 10px;
        font-size: 14px;
      }
    }
  }

  .tab_wrap {
    .tab_bar {
      display: none;
    }

    .btn_more {
      position: absolute;
      right: 9px;
      top: -8px;
      height: 50px;
      width: 33px;
      background: url('/icons/ico_back.svg') no-repeat center center;
      transform: rotate(-90deg) scale(0.9);
    }
  }

  .tab_area li {
    display: inline-block;
    padding: 0 10px;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;

    &.on {
      color: #000;
      font-weight: 500;

      a {
        color: #fff;
      }
    }
  }

  .tab_wrap.active {
    padding: 0;
  }
}

.shadow {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 80;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.top_area .tab_wrap.active {
  .btn_more {
    display: none;
  }

  .tab_bar {
    display: block;
    padding: 0 20px 12px 20px;
    font-size: 14px;
    line-height: 33px;
  }

  .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 33px;
    background: url('/icons/ico_close.svg') no-repeat center center;
  }

  .tab_area {
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 90;
    flex-wrap: wrap;
    padding: 0 7px 15px 15px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

    li {
      margin: 0 8px 10px 0;
      background-color: #f9f9f9;
    }
  }
}

.location_wrap {
  position: relative;

  .location {
    padding: 10px 15px;
    font-size: 12px;
    border-bottom: 1px solid #ebebeb;

    .cate {
      display: inline-block;
      margin-right: 18px;
      color: #999;
    }
  }

  .menu_list {
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    z-index: 100;
    width: 100%;
    padding: 15px;
    background-color: #fff;

    li {
      line-height: 32px;
      font-size: 16px;

      &.on a {
        color: #e07511;
      }
    }
  }
}
