/**********************************************************
	FOOTER
***********************************************************/

footer {
  position: relative;
  padding: 30px 15px;
  background-color: #ebebeb;
  margin-bottom: 82px;

  .f_logo {
    width: 82px;

    img {
      width: 100%;
    }
  }

  address {
    margin-top: 20px;
    color: #777;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }

  .address_eng {
    margin-top: 5px;
    color: #777;
    font-size: 12px;
    font-weight: 300;
  }

  .sns_list {
    display: flex;
    position: absolute;
    right: 15px;
    top: 30px;

    li {
      + li {
        margin-left: 8px;
      }

      img {
        width: 24px;
      }
    }
  }
}
