/**********************************************************
	CSS RESET
***********************************************************/

body,
input,
textarea,
select,
button,
table {
  margin: 0;
  font-size: 13px;
  font-family: Apple SD Gothic Neo, 'Noto Sans KR', AppleGothicNeoSD,
    Microsoft NeoGothic, Arial, 'Malgun Gothic', '맑은 고딕', Dotum, '돋움',
    Helvetica, Droid sans, sans-serif;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
ul,
li,
ol,
th,
td,
p,
form,
fieldset,
legend,
button,
section {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  box-sizing: border-box;
}

span,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
fieldset {
  border: 0 none;
}

dl,
ul,
ol,
li {
  list-style: none outside none;
}

button {
  border: 0 none;
  cursor: pointer;
  display: block;
  outline: 0;
}

table,
th,
td {
  border-collapse: collapse;
}

label {
  cursor: pointer;
}

a,
img {
  outline: none;
}

input {
  outline: none;

  &[type='image'] {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

li img,
td img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;

  &:hover,
  &:active,
  &:focus {
    color: #000;
    text-decoration: none;
  }
}

table a {
  &:link,
  &:visited {
    color: #000;
  }

  &:hover,
  &:active {
    color: #000;
    text-decoration: underline;
  }
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 600;
}

legend,
caption {
  display: none !important;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hide {
  display: none !important;
}

.container {
  margin-bottom: 82px;
}

.sub_container {
  /* margin-top: 58px; */
  padding-bottom: 82px;
  flex: 1;
  background: #f8f8f8;
}
