/**********************************************************
	SETTING
***********************************************************/

.setting_wrap {
  .tab_area {
    display: flex;

    li {
      width: 50%;
      line-height: 48px;
      font-size: 16px;
      text-align: center;
      border-bottom: 1px solid #eee;

      &.on {
        border-bottom: 2px solid #ea7910;
      }
    }
  }

  .title {
    position: relative;
    margin-bottom: 0;
  }

  .sub_txt {
    color: #999;
    font-size: 16px;
  }
}

.alarm_list li {
  position: relative;
  padding: 28px 15px 20px 53px;
  font-size: 16px;

  .ico {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 15px;
    width: 24px;
    height: 24px;
    background-color: #c4c4c4;
  }

  &.new .ico:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 5px;
    height: 5px;
    background-color: #ea7910;
    border-radius: 50%;
  }

  + li {
    border-bottom: 1px solid #ebebeb;
  }

  .date {
    color: #aaa;
    font-size: 14px;
  }
}

.setting_wrap .option_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-radius: 4px;
  overflow: hidden;

  li {
    width: 50%;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    &.on {
      color: #fff;
      background-color: #ea7910;
      border-color: #ea7910;
    }

    &.disabled {
      color: #999;
      background-color: #f9f9f9;
    }
  }
}
