.App {
  background-color: #fafafa;
  min-height: 100vh;

  * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .blank {
    width: 100%;
    height: 120px;
  }
}
