/* Header */

header {
  border-bottom: 1px solid #eee;
}

header .inner {
  /* border: 1px solid lightgray; */
  height: 86px;
  max-width: 980px; /* 가로 길이 지정 */
  margin: 10px auto; /* 수평 가운데 정렬 */
  display: flex;
  align-items: center; /* flex, 수직 가운데 정렬 */
}

header .logo {
  width: 289px;
  height: 62px;
  background: url(https://bit.ly/3zBeSLS);
  text-indent: -9999px;
  margin-right: 20px;
  position: relative;
  top: -5px;
}

header .menu-wrap {
  /* border: 1px solid blue; */
  display: flex;
}

header .menu-wrap li {
  box-sizing: border-box;
  padding: 0 20px;
}

header .menu-wrap a {
  color: #333;
}

header .menu-wrap a:hover {
  color: #005793;
}

header .func-wrap {
  display: flex;
  margin-left: auto;
}

header .func-wrap li {
  /* border: 1px solid blue; */
  box-sizing: border-box;
  padding: 0 5px;
  color: #333;
}
