form.tel {
  @mixin item {
    margin: 0 4px;
    text-align: center;
    width: 50px;
    // height: 16px;
  }

  select {
    @include item;
  }

  span {
    @include item;
  }

  input {
    @include item;
    width: 40px;
  }

  button {
    @include item;
    width: 60px;
  }
}
