.section--feature .tiles-wrap {
  border: 1px solid blue;
  max-width: 1200px;
  margin: 0 auto;
}
.section--feature ul {
  /* ul은 그리드 컨테이너다. */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.section--feature li {
  border: 1px solid red;
}
.section--feature img {
  border: 1px solid red;
  max-width: 100%;
}
.section--feature h3 {
  border: 1px solid red;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.section--feature p {
  border: 1px solid red;
  font-size: 14px;
  color: #767676;
}
