/**********************************************************
	ALL MENU
***********************************************************/

#all_menu {
  flex: 1;
  padding: 0 15px 15px 15px;
  background-color: #f8f8f8;

  &.on {
    right: 0;
    opacity: 1;
  }

  .btn_close {
    display: inline-block;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 16px;
    height: 16px;
    background: url('/icons/ico_close.svg') no-repeat center center;
  }

  .tip {
    margin: 66px 0 15px 0;
    font-size: 14px;
  }

  // 빠른메뉴영역
  .quick_list {
    display: flex;
    padding: 30px 0px 0px 0px;

    li {
      margin-bottom: 22px;
      text-align: center;
      width: 25%;
      float: left;

      + li {
        margin-left: 15px;
      }
    }

    .img {
      width: 66px;
      height: 66px;
      margin: 0 auto 6px;
      background-color: #ffffff;
      border-radius: 20px;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(34%, 35%);
      }
    }

    li .txt {
      margin-top: 8px;
      font-size: 12px;
    }
  }
}

// 메뉴 리스트
.menu_wrap {
  padding: 0 15px;
  margin: 0 -15px;
  background-color: #fff;

  .menu_list {
    margin-top: 30px;

    > li {
      position: relative;
      padding: 20px 0px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 1px solid #ebebeb;

      &:last-child {
        border-bottom: 0px !important;
      }
    }

    .drop_iocn {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  .sub_menu {
    padding: 20px 0px 0px;

    li {
      font-size: 16px;

      + li {
        margin-top: 22px;
      }
    }
  }

  .foot_menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;

    li {
      font-size: 16px;

      .ico_menu {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: -3px 13px 0 0;
        background-color: #c4c4c4;
        vertical-align: middle;
      }
    }
  }
}
