/**********************************************************
	BIBLE(성경)
***********************************************************/
/* 말씀 상세 */

.top_area {
  .top_title {
    .back {
      display: inline-block;
      height: 25px;
      width: 25px;
      margin-top: -2px;
      background: url('/icons/ico_back.svg') no-repeat center center;
      transform: rotate(-90deg) scale(0.75);
      vertical-align: middle;
    }

    img {
      vertical-align: middle;
      margin-top: -3px;
    }
  }

  .tool_list {
    position: absolute;
    right: 15px;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;

    img {
      display: inline;
    }

    li + li {
      margin-left: 15px;
    }
  }

  .txt_control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    line-height: 34px;
    background-color: #fff;
    border-top: 1px solid #ebebeb;

    .tit {
      strong {
        font-size: 16px;
        font-weight: 500;
      }

      span {
        display: inline-block;
        margin-left: 25px;
        font-size: 15px;
      }
    }

    .size {
      line-height: 32px;
      background: #f9f9f9;
      border: 1px solid #ebebeb;
      border-radius: 4px;

      li {
        display: inline-block;
        width: 73px;
        text-align: center;

        + li {
          border-left: 1px solid #ebebeb;
        }
      }
    }
  }
}

/* 텍스트 사이즈 수정 */

.bible_con {
  position: relative;
  padding: 17px 15px 80px 15px;
  border-top: 1px solid #ebebeb;

  .btn_left {
    position: fixed;
    left: 8px;
    bottom: 100px;
    z-index: 100;

    /* width: 55px; */
    /* height: 55px; */
    /* background: url('/icons/ico_left.svg') no-repeat center center; */
  }

  .btn_right {
    position: fixed;
    right: 8px;
    bottom: 100px;
    z-index: 100;

    /* width: 55px; */
    /* height: 55px; */
    /* background: url('/icons/ico_right.svg') no-repeat center center; */
  }
}

.verse_list li {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  word-break: keep-all;

  + li {
    margin-top: 9px;
  }
}

/* 성경 말씀 찾기 팝업 */

.layer_bible_read {
  position: relative;
  background-color: #f9f9f9;

  .title {
    padding: 15px 0 8px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
  }

  .btn_close {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    background: url('/icons/ico_close.svg') no-repeat center center;
  }

  .tab_area {
    display: flex;
    margin: 10px 15px;
    padding: 3px 4px;
    background-color: #fff;
    border-radius: 40px;

    li {
      display: inline-block;
      width: 33.33%;
      padding: 0 15px;
      line-height: 33px;
      color: #000;
      font-size: 14px;
      text-align: center;
      border-radius: 33px;

      &.on {
        color: #fff;
        background-color: #444;
      }
    }
  }

  .tab_con {
    padding: 5px 15px;
    max-height: calc(100% - 106px);
    overflow-y: auto;
    background-color: #fff;
  }
}

/* 책 선택 */

.book_list {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    padding: 9.5px 15px;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    word-break: keep-all;

    &.on {
      background-color: #f5f5f5;
    }
  }
}

/* 장 선택 */

.chapter_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;

  li {
    width: 20%;
    margin-bottom: 20px;
    text-align: center;

    span {
      display: inline-block;
      padding: 0 11.5px;
      line-height: 32px;
      font-size: 16px;
      border-radius: 32px;
    }

    &.on span {
      color: #fff;
      background-color: #000;
    }
  }
}
