/**********************************************************
	SERMON(예배)
***********************************************************/
/* 예배 메인 */

.sermon_filter {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0a0;
  margin-bottom: 25px;

  li {
    display: inline-block;

    &:after {
      content: '';
      display: inline-block;
      width: 1px;
      background: #d6d6d6;
      height: 10px;
      margin: 0px 7px;
    }

    &:last-child:after {
      content: none;
    }

    &.on {
      color: #000;
      font-weight: 500;
    }
  }
}

.sermon_list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #ebedef;
    margin-top: 15px;
    padding-bottom: 15px;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 7px;
      top: 4px;
      width: 85px;
      height: 35px;

      /* background: url(/icons/ico_play.svg) no-repeat center center; */
    }

    &:last-child {
      border-bottom: 0px;
    }
  }

  .tit_box {
    width: 70%;
  }

  .weekly_tit_box {
    width: 100%;
  }

  .tit {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .date {
    display: inline-block;
    margin-top: 5px;
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 300;
  }

  .preacher {
    display: inline-block;
    margin-left: 7px;
    padding-left: 7px;
    line-height: 10px;
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 300;
    border-left: 1px solid #d6d6d6;
  }
}

/* 필터 */

.layer_filter {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 600;
  background-color: #fff;

  &.on {
    display: block;
  }

  .title {
    padding: 18px 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    background-color: #f9f9f9;
  }

  .btn_close {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
    width: 24px;
    height: 24px;
    background: url('/icons/ico_close.svg') no-repeat center center;
  }

  .filter_list {
    border-top: 1px solid #f9f9f9;

    li {
      position: relative;
      padding: 13px 20px;
      font-size: 16px;
      border-bottom: 1px solid #f9f9f9;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 11px;
        width: 24px;
        height: 24px;
        background: url('/icons/ico_check_off.svg') no-repeat center center;
      }

      &.on:after {
        background: url('/icons/ico_check.svg') no-repeat center center;
      }
    }
  }

  .btn_area {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    span {
      height: 72px;
      color: #fff;
      font-size: 16px;
      line-height: 72px;
      text-align: center;
    }

    .btn_reset {
      width: 110px;
      background-color: #444;
    }

    .btn_select {
      width: calc(100% - 110px);
      background-color: #000;
    }
  }
}

/* 예배 상세 */

.sermon_detail {
  .movie_wrap {
    border: 0;
    border-radius: 0;

    .info {
      padding: 17px 15px 15px 15px;

      .date {
        margin-top: 8px;
      }
    }
  }

  .section {
    padding: 0;
    background-color: #f9f9f9;
    border-top: 1px solid #ebebeb;
  }

  .tab_area {
    padding: 5px 15px;

    li {
      display: inline-block;
      width: 20%;
      line-height: 33px;
      color: #a0a0a0;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      border-radius: 33px;
      text-align: center;

      &.on {
        color: #000;
        font-weight: 500;

        a {
          color: #000;
          font-weight: 500;
        }
      }
    }
  }

  .order_wrap {
    padding: 13px 20px 40px 20px;
    background: #fff;

    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 13px 0;
      line-height: 24px;
      font-size: 16px;
      border-bottom: 1px solid #ebebeb;

      span {
        width: 90px;
        word-break: keep-all;

        &:nth-child(2) {
          flex: 1;
          text-align: center;
        }

        &:nth-child(3) {
          color: #999;
          text-align: right;
        }
      }
    }
  }

  .gist_wrap {
    padding: 20px 20px 40px 20px;
    background: #fff;
  }

  .gist_title {
    position: relative;
    padding-right: 80px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    word-break: keep-all;

    .textsize {
      display: inline-block;
      position: absolute;
      right: 42px;
      top: 0;
      width: 24px;
      height: 24px;
      background: url('/icons/ico_text-size.svg') no-repeat center center;
    }

    .translation {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background: url('/icons/ico_trans.svg') no-repeat center center;
    }
  }

  .gist_wrap {
    .main_bible {
      padding: 8px 0 15px;
      font-size: 12px;
      line-height: 18px;
      color: #a0a0a0;
    }

    .gist {
      font-size: 16px;
      line-height: 26px;
      word-break: keep-all;

      .bible {
        position: relative;
        color: #999;
        white-space: nowrap;
        text-decoration: underline;
      }

      .important {
        margin: 15px 0;

        li {
          padding-left: 20px;
          font-size: 16px;
          line-height: 24px;
          text-indent: -20px;
        }
      }
    }
  }
}

/* 예배순서 */

/* 설교요지 */

/* 설교요지 성경 클릭 시 나오는 레이어 팝업 */

.layer_bible {
  &.on {
    display: block;
  }

  display: none;
  position: absolute;
  left: 15px;
  z-index: 90;
  width: 280px;
  padding: 17px 7px 17px 17px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  .btn_close {
    display: inline-block;
    position: absolute;
    right: 17px;
    top: 17px;
    width: 20px;
    height: 20px;
    background: url('/icons/ico_close.svg') no-repeat center center;
    background-size: 15px 15px;
  }

  .verse_list {
    max-height: 240px;
    padding: 0 10px 0 0;
    margin-top: 20px;
    border: 0;
    overflow-y: auto;

    li {
      color: #000;
      white-space: normal;
      word-break: break-all;
    }
  }
}

/* 교회소식 */

.notice_wrap {
  padding: 20px 20px 40px 20px;
  background: #fff;

  .notice_title {
    padding-bottom: 15px;
    padding-right: 40px;
    word-break: keep-all;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    position: relative;
  }
}

.sermon_detail .notice_title .textsize {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url('/icons/ico_text-size.svg') no-repeat center center;
}

/* 숫자가 있는 리스트 */

.notice_wrap ol.list {
  counter-reset: notice_list;

  li {
    margin-bottom: 15px;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    .tit {
      font-size: 16px;
      font-weight: 500;

      &:before {
        counter-increment: notice_list;
        content: counter(notice_list) '. ';
      }
    }
  }
}
